@import "../variables";

// movie-card.scss

.card-img-top {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.movie-card {
  background-color: black;
  border: none;
  color: white;
  display: inline-block;
  margin-right: 10px;
  width: 200px;

  img {
    width: 100%;
    height: auto;
  }
}

.heart-icon {
  cursor: pointer; // Makes it clear the icon is clickable
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../images/black-heart.png") no-repeat center center;
  background-size: contain; // Ensure the image covers the entire area
  transition: transform 0.2s ease; // Smooth transition for hover effect

  &:hover {
    transform: scale(1.3);
  }

  &.favorite {
    background: url("../images/red-heart.png") no-repeat center center;
    background-size: contain;
  }
}
