.back-button {
  padding: 4px 12px 4px 12px;
  color: whitesmoke;
  background-color: dodgerblue;
  border: none;
  border-radius: 4px;
}
// Add these styles to your movie-view.scss
.similar-movies {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; // Adjust the gap between similar movies as needed
}

.similar-movie {
  text-align: center;
}

.similar-movie-image {
  max-width: 200px; // Adjust the maximum width as needed
  max-height: 250px; // Adjust the maximum height as needed
}
